.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgba(255,255,255,0.95);
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;

        .logo{
              color: #800011;
              text-decoration: none;
              font-family: 'Cinzel','Sans-serif';
              &:hover {
                    cursor: pointer;
                    color: black;
                }  
        }

        .navMenu{
            display: flex;
            justify-content: space-between;
            column-gap: 20px;
            align-items: center;

            .iconBtn{
                
                &:hover {
                          cursor: pointer;
                        }
            }
  
        }
    }
}